.projects_item {
	display: block;
	text-align: center;
	background: #fff;
	box-shadow: 0 2px 20px 0 rgba(0,0,0,0.05);
	border-radius: 4px;
	overflow: hidden;
	height: 100%;

	-webkit-transition: box-shadow .3s ease-out, transform 0.3s ease-out;
	-moz-transition: box-shadow .3s ease-out, transform 0.3s ease-out;
	-ms-transition: box-shadow .3s ease-out, transform 0.3s ease-out;
	-o-transition: box-shadow .3s ease-out, transform 0.3s ease-out;
	transition: box-shadow .3s ease-out, transform 0.3s ease-out;
	transition-delay: 0.1s;
	}
	.projects_item:hover {
		text-decoration: none;
		box-shadow: 0 8px 20px 0 rgba(0,0,0,0.1);
		transform: translate(0, -4px);
	}
	.projects_item_img {
		width: 100%;
	}
	.projects_item .projects_title {
		font-size: 17px;
		font-weight: 300;
		line-height: 1.5;
		color: #222;
		padding: 25px 15px 5px;
		border-top: 1px #E4E4E4 solid;
		clear: none;
		}
	.projects_item:hover .projects_title {
		color: #DD3A3A;
		}
	.projects_item .projects_date {
		font-size: 15px;
		color: #A0A0A0;
		font-weight: 300;
		padding: 0 15px 25px;
	}

.projects_persona {
	margin: 5px 10px 0 0;
}

.backLink {
	font-weight: 300;
	position: absolute;
	top: -40px;
	left: 15px;
	}
	.backLink a:link, .backLink a:visited {
		color: #A0A0A0;
	}
	.backLink a::before {
		content: "←";
		position: absolute;
		left: -20px;
		top: 1px;
		color: #A0A0A0;
	}
	.backLink a:hover, .backLink a:hover::before {
		color: #DD3A3A;
		text-decoration: none;
	}

.downIcon {
	display: inline-block;
	width: 50px;
	height: 50px;
	/*margin-left: -30px;*/
	-webkit-transition: all 1.5s;
	transition: all 1.5s;
	z-index: 1000;
	background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPHN2ZyB3aWR0aD0iNTBweCIgaGVpZ2h0PSI1MHB4IiB2aWV3Qm94PSIwIDAgNTAgNTAiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8IS0tIEdlbmVyYXRvcjogU2tldGNoIDUyLjIgKDY3MTQ1KSAtIGh0dHA6Ly93d3cuYm9oZW1pYW5jb2RpbmcuY29tL3NrZXRjaCAtLT4KICAgIDx0aXRsZT5Hcm91cCAxNjwvdGl0bGU+CiAgICA8ZGVzYz5DcmVhdGVkIHdpdGggU2tldGNoLjwvZGVzYz4KICAgIDxnIGlkPSJJbWFnZXMiIHN0cm9rZT0ibm9uZSIgc3Ryb2tlLXdpZHRoPSIxIiBmaWxsPSJub25lIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiPgogICAgICAgIDxnIGlkPSJHcm91cC0xNiIgc3Ryb2tlPSIjMjIyMjIyIiBzdHJva2Utd2lkdGg9IjIiPgogICAgICAgICAgICA8Y2lyY2xlIGlkPSJPdmFsIiBjeD0iMjUiIGN5PSIyNSIgcj0iMjQiPjwvY2lyY2xlPgogICAgICAgICAgICA8cG9seWxpbmUgaWQ9IlBhdGgiIHN0cm9rZS1saW5lam9pbj0icm91bmQiIHBvaW50cz0iMTIgMjEgMjUuNSAzMy41IDM5IDIxIj48L3BvbHlsaW5lPgogICAgICAgIDwvZz4KICAgIDwvZz4KPC9zdmc+);
}
.downIcon:hover {
	-ms-transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	transform: rotate(360deg);
}

/** Project page **/
.persona {

	}
	.persona_in {
		height: 100%;
		background: rgba(255, 255, 255, 0.4);
		padding: 30px 20px 20px;
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px;
		box-shadow: 0 2px 20px 0 rgba(0,0,0,0.05);
	}
	.persona .persona_img {
		margin: 0 0 20px 0;
		max-width: 180px;
	}
	.persona li {
		margin-bottom: 15px;
	}

.brief {
	color: #222;
	font-size: 15px;
	line-height: 1.45;
	padding: 30px 0 20px;
	border-top: 1px #E4E4E4 solid;
	border-bottom: 1px #E4E4E4 solid;
	}
	p.brief_title {
		margin: 0;
		font-weight: bold;
	}

.sideMenu {
	position: fixed;
	top: 200px;
	right: 40px;
	z-index: 1000;
	font-size: 15px;
	text-align: right;
	}
	.sideMenu li a {
		padding-right: 0;
	}
	.sideMenu li a:active, .sideMenu a:visited {
		color: #238585;
	}
	.sideMenu li a:hover {
		text-decoration: underline;
	}
	.sideMenu li a.active, .sideMenu li a.active:hover {
		color: #222;
		text-decoration: none;
	}

.ekko-lightbox-nav-overlay a {
	color: #222 !important;
}

/** Bootstrap Carousel **/
.carousel-caption {
	position: relative;
	left: 0;
 	top: 0;
 	color: #a0a0a0;
 	font-size: 14px;
	text-align: left;
 	}
.carousel .carousel-control-prev .carousel-control-prev-icon {
	background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz48c3ZnIHdpZHRoPSIxM3B4IiBoZWlnaHQ9IjIwcHgiIHZpZXdCb3g9IjAgMCAxMyAyMCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4gICAgICAgIDx0aXRsZT5TaGFwZTwvdGl0bGU+ICAgIDxkZXNjPkNyZWF0ZWQgd2l0aCBTa2V0Y2guPC9kZXNjPiAgICA8ZGVmcz48L2RlZnM+ICAgIDxnIGlkPSJKb3VybmV5LW1hcCIgc3Ryb2tlPSJub25lIiBzdHJva2Utd2lkdGg9IjEiIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCIgb3BhY2l0eT0iMC41Mzk5OTk5NjIiPiAgICAgICAgPGcgaWQ9ImxlZnRBcnIiIHRyYW5zZm9ybT0idHJhbnNsYXRlKC00LjAwMDAwMCwgMC4wMDAwMDApIiBmaWxsPSIjMDAwMDAwIj4gICAgICAgICAgICA8ZyBpZD0iQ2hldnJvbi1sZWZ0Ij4gICAgICAgICAgICAgICAgPHBvbHlnb24gaWQ9IlNoYXBlIiBwb2ludHM9IjE2LjMzMzMzMzMgMi4zMzMzMzMzMyAxNCAwIDQgMTAgMTQgMjAgMTYuMzMzMzMzMyAxNy42NjY2NjY3IDguNjY2NjY2NjcgMTAiPjwvcG9seWdvbj4gICAgICAgICAgICA8L2c+ICAgICAgICA8L2c+ICAgIDwvZz48L3N2Zz4=);
}
.carousel .carousel-control-next .carousel-control-next-icon {
	background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz48c3ZnIHdpZHRoPSIxM3B4IiBoZWlnaHQ9IjIwcHgiIHZpZXdCb3g9IjAgMCAxMyAyMCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4gICAgICAgIDx0aXRsZT5TaGFwZTwvdGl0bGU+ICAgIDxkZXNjPkNyZWF0ZWQgd2l0aCBTa2V0Y2guPC9kZXNjPiAgICA8ZGVmcz48L2RlZnM+ICAgIDxnIGlkPSJKb3VybmV5LW1hcCIgc3Ryb2tlPSJub25lIiBzdHJva2Utd2lkdGg9IjEiIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCIgb3BhY2l0eT0iMC41Mzk5OTk5NjIiPiAgICAgICAgPGcgaWQ9ImxlZnRBcnIiIHRyYW5zZm9ybT0idHJhbnNsYXRlKDYuNTAwMDAwLCAxMC4wMDAwMDApIHNjYWxlKC0xLCAxKSB0cmFuc2xhdGUoLTYuNTAwMDAwLCAtMTAuMDAwMDAwKSAiIGZpbGw9IiMwMDAwMDAiPiAgICAgICAgICAgIDxnIGlkPSJDaGV2cm9uLWxlZnQiPiAgICAgICAgICAgICAgICA8cG9seWdvbiBpZD0iU2hhcGUiIHBvaW50cz0iMTIuMzMzMzMzMyAyLjMzMzMzMzMzIDEwIDAgMCAxMCAxMCAyMCAxMi4zMzMzMzMzIDE3LjY2NjY2NjcgNC42NjY2NjY2NyAxMCI+PC9wb2x5Z29uPiAgICAgICAgICAgIDwvZz4gICAgICAgIDwvZz4gICAgPC9nPjwvc3ZnPg==);
}


@media screen and (max-width:1024px) {
	.projects_item {
		padding: 0 7% 0 0;
	}
	.backLink {
		top: -35px;
	}
}

@media screen and (min-width:1778px) {
	.prototypeComment {
		font-size: 17px;
	}
}

@media screen and (max-width:700px) {
	.projects_item_img {
		margin-left: -10px;
	}
	.projects_item_img__2 {
		margin-left: -90px;
	}
	.backLink {
		position: relative;
		top: 0;
	}
}

@media screen and (max-width:575px) {

}