@charset "UTF-8";
body {
	font-family: 'Muli', sans-serif;
	font-size: 17px;
	font-weight: 400;
	line-height: 1.8;
	color: #222;
}
a:link {
	color: #188ba8;
	text-decoration: none;
}
a:hover {
	color: #3d98bf;
	text-decoration: underline;
}
a:visited {
	color: #3523CA;
}
ul.g-list li {
	padding: 0 0 5px 26px;
	position: relative;
}
ul.g-list li:before {
	content: "";
	width: 4px;
	height: 4px;
	border-radius: 50%;
	background: #222;
	position: absolute;
	top: 12px;
	left: 10px;
}
ol.g-list {
	padding: 10px 0 0 26px;
	list-style: decimal;
	}
	ol.g-list li {
		padding: 0 0 15px 0;
		list-style: decimal;
	}
.nowrap {
	white-space: nowrap;
}
h1 {
	font-size: 40px;
	font-weight: 600;
	margin: 0 0 25px;
}
.g-h2 {
	font-size: 24px;
	font-weight: 600;
	line-height: 1.4;
	margin: 20px 0 15px;
}
.g-h3 {
	margin: 0 0 20px;
	font-size: 20px;
	font-weight: 600;
	line-height: 1.4;
}

a.borderButton, a.borderButton:visited {
	display: inline-block;
	padding: 4px 12px;
	margin: 15px 0 0;
	border: 2px #DD3A3A solid;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	color: #DD3A3A;
	transition-duration: 400ms;
	font-weight: normal;
}
a.borderButton:hover {
	color: #fff;
	text-decoration: none;
	background: #DD3A3A;
}


.points {
	border-top: 1px #D9D9D9 solid;
	border-bottom: 1px #D9D9D9 solid;
	font-size: 15px;
	line-height: 1.6;
	}
	.points_bold {
		font-weight: 700;
	}
	.points_title {
		display: block;
		margin: 0 0 7px 0;
	}
	.points ul {
		margin-bottom: 0;
		margin-left: -8px;
		}
		.points ul li {
			padding-top: 0;
			padding-bottom: 7px;
			position: relative;
			}
			.points ul li:before {
				background: #b8b8b8;
			}

.textMe {
	font-size: 24px;
	font-weight: 300;
	line-height: 1.5;
	}
	.textMe_links {
		margin: 0.8em 0 0 0;
	}
	.textMe_links__home {
		margin-left: -6px;
	}
	.textMe_links a.contactIcon {
		margin: 0 3px;
	}
	a.contactIcon:hover {
		opacity: 0.8;
		text-decoration: none;
	}