.descProject {
	padding: 15px 0 20px;
	font-weight: 300;
	}
	.descProject p {
		margin: 0 0 15px;
	}
	.descProject .descProject_title {
		font-size: 22px;
		font-weight: 600;
		line-height: 1.4;
		margin-bottom: 20px;
	}

.projectsBookmark {
	background: #DD3A3A;

	margin: 20px 0 35px -40px;
	font-size: 15px;
	font-weight: 300;
	letter-spacing: 1px;
	color: #fff;
	display: inline-block;
	padding: 3px 20px 2px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

.projects {

}
.projects_item {
	padding: 0px 6% 0 10%;
	margin: 0 0 45px;
	/*max-width: 350px;*/
}
.projects_item p {
	font-weight: 300;
	font-size: 15px;
	clear: both;
	margin: 0 0 5px;
}
.projects_item_img {
	margin: 0 0 0 -15px;
}
.projects_item .projects_title {
	font-size: 22px;
	font-weight: 600;
	line-height: 1.4;
	color: #222;
	margin: 20px 0 5px;
	clear: none;
	}
	.projects_title a:link, .projects_title a:visited {
		color: #222;
	}
	.projects_title a:hover {
		color: #1285C0;
	}
.projects_item .projects_date {
	color: #A0A0A0;
}
.projects_persona {
	margin: 5px 10px 0 0;
}

.backLink {
	position: relative;
	}
	.backLink a::before {
		content: "←";
		position: absolute;
		left: -20px;
		top: 0;
		color: #1285C0;
	}
	.backLink a:visited {
		color: #1285C0;
	}

/** Project page **/
.projectsDesc {
	max-width: 800px;
}

.persona {

	}
	.persona .persona_img {
		margin: -10px 0 20px -10px;
		max-width: 180px;
	}
	.persona_title {
		font-size: 24px;
		font-weight: 600;
	}
	.persona li {
		margin-bottom: 15px;
	}

.brief {
	color: #222;
	font-size: 15px;
	line-height: 1.45;
	}
	.brief p {
		margin: 0 0 15px;
	}
	p.brief_title {
		margin: 0 0 5px;
		font-weight: bold;
	}
	.brief_wrap {
		border: 1px #E4E4E4 solid;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
		padding: 15px 15px 2px;
	}

.stages {
		line-height: 1.4;
	}
	.stages_title {
		background: #DD3A3A;
		color: #fff;
		text-align: center;
		padding: 12px 15px;
		border-radius: 4px;
		margin: 25px 0 25px;
	}
	.stages_title__grey {
		background: #b8b8b8;
		line-height: 1.4;
	}
	.stages p {
		text-align: center;
		margin: 0 0 20px;
	 }

.prototypeComment {
		font-size: 15px;
	}

.flowList {
	position: relative;
	padding: 0 0 0 26px;
	margin: 40px 0 0;
}
.flowList_number {
	position: absolute;
	top: 0;
	left: 0;
}
/*ol.flowList {
	padding-top: 0px;
	padding-left: 37px;
	margin-left: -37px;
	}
	.flowList li {
		position: relative;
		padding: 10px 0 20px;
		}
		.flowList_number {
			display: block;
			position: absolute;
			left: -37px;
			top: 0;
			width: 30px;
			height: 30px;
			background: #65B5B5;
			background: #DD3A3A;
			color: #fff;
			font-size: 15px;
			text-align: center;
			line-height: 30px;
			border-radius: 25px;
		}*/

.sideMenu {
	position: fixed;
	top: 200px;
	right: 40px;
	z-index: 1000;
	font-size: 15px;
	text-align: right;
	}
	.sideMenu li a {
		padding-right: 0;
	}
	.sideMenu li a:active, .sideMenu a:visited {
		color: #1285C0;
	}
	.sideMenu li a.active {
		color: #222;
	}

@media screen and (max-width:1024px) {
	.projects_item {
		padding: 0px 7% 0 0;
	}
}

@media screen and (min-width:1778px) {
	.prototypeComment {
		font-size: 17px;
	}
}