@charset "UTF-8";
body {
	font-family: 'Muli', sans-serif;
	font-size: 17px;
	font-weight: 400;
	line-height: 1.8;
	color: #222;
	background: #262729 url('../img/myspace.JPG') 0 0 no-repeat;
	background-size: 1300px 867px;
}
a:link {
	color: #1285C0;
	text-decoration: none;
}
a:hover {
	color: #1285C0;
	text-decoration: underline;
}
a:visited {
	color: #3523CA;
}
.nowrap {
	white-space: nowrap;
}
body, html {
	height: 100%;
	min-height: 100%;
}
.content {
	height: auto;
	min-height: 100%;
}
.content {
	margin: 0 0 0 30%;
	background: url('../img/bg-repeat-2.png') 0 0 repeat-y;
	padding: 4% 0 0 9%;
	}
	.content_in {
		padding:  0 5px 0 0;
		max-width: 570px;
	}
	.content_wide {
		padding-right: 40px;
	}
	.content_medium {
		max-width: 865px;
	}
.otherPages .content {
	margin-left: 15%;
	padding-left: 9%;
	background: #F7F7F7;
}
.header {
	overflow: hidden;
	}
	.logo {
		position: relative;
		float: left;
		height: 41px;
	}
	.logo:hover::before {
		display: block;
		content: '';
		width: 3px;
		height: 3px;
		border-radius: 50%;
		background: #DD3A3A;
		position: absolute;
		left: 15px;
		top: 15px;
	}
	.logo:hover::after {
		display: block;
		content: '';
		width: 3px;
		height: 3px;
		border-radius: 50%;
		background: #DD3A3A;
		position: absolute;
		left: 15px;
		top: 22px;
	}
	.menu {
		float: right;
		}
		.menu_item {
			display: inline-block;
			margin-left: 20px;
			line-height: 1.6;
			}
			.menu a:link, .menu a:visited {
				color: #222;
			}
			.menu a:hover {
				text-decoration: none;
				color: #DD3A3A;
			}
		.menu_item-current {
			border-bottom: 3px #DD3A3A solid;
		}
.mainContent {
	padding-top: 40px;
	padding-bottom: 70px;
}
h1 {
	font-size: 40px;
	font-weight: 600;
	margin: 0 0 25px;
}

.desc {
	max-width: 570px;
	font-weight: 300;
}

.points {
	border-top: 1px #D9D9D9 solid;
	border-bottom: 1px #D9D9D9 solid;
	padding-top: 30px;
	padding-left: 40px;
	padding-bottom: 30px;
	margin: -35px 0 40px 0;
	font-size: 15px;
	}
	.points_bold {
		font-weight: 700;
	}
	.points_title {
		margin: 0 0 7px 8px;
	}
	.points ul li {
		padding: 0 0 5px 26px;
		position: relative;
		}
		.points ul li:before {
			content: "";
			width: 4px;
			height: 4px;
			border-radius: 50%;
			background: #b8b8b8;
			position: absolute;
			top: 12px;
			left: 10px;
		}
	ul.points_jobs li {
		padding-bottom: 10px;
		padding-left: 0;
	}
	ul.points_jobs li:before {
		display: none;
	}
.textMe {
	padding: 0 0 60px;
	font-size: 24px;
	font-weight: 300;
	line-height: 1.5;
	}
	.textMe_links {
		margin: 0.8em 0 0 -3px;
	}
	.textMe a {
		margin-right: 7px;
	}
	.textMe a:hover {
		opacity: 0.8;
	}

@media screen and (max-width:1280px) {
	.otherPages .content {
		margin-left: 8%;
		padding-left: 8%;
	}
}

@media screen and (max-width:700px) {
	.content {
		margin: 0;
		padding: 4% 0 0 10px;
	}
	.content_in {
		padding-right:  10px;
	}
	.content_wide {
		padding-right: 10px;
	}
	.otherPages .content {
		margin-left: 0;
		padding-left: 10px;
	}
}